<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Courech | @ViewBag.Title</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">


    <meta property="fb:app_id" content="309253686656773" />

    <meta name="description" content="@ViewBag.Excerpt" />

    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Excerpt" />
    <meta property="og:image" content="@ViewBag.ImageUrl " />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="styles.c0b112d6c66ef43466a1.css">
</head>
<body id="page-top">
    @RenderBody()
  
</body>
</html>
